<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Ada's Pizza Express : Pizzas</title>

	<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>


	<header><% include ../partials/header %></header>

	<nav><% include ../partials/nav %></nav>


	<main>

		<h2><%= strTitle %></h2>

		<p>Feast your eyes on our glorious selection...</p>

		<ul class="pizzas">
		<!-- output pizza array -->
		<% for (let i = 0; i < arrPizzas.length; i++) { %>

			<li>

				<a href="/pizzas/<%= arrPizzas[i].flavorKey %>"><img src="<%= arrPizzas[i].image %>" alt="<%= arrPizzas[i].flavor %>"><br><%= arrPizzas[i].flavor %></a> (<%= arrPizzas[i].location %>)

			</li>

		<% } %>
		</ul>

	</main>


	<footer><% include ../partials/footer %></footer>


</body>
</html>
